* {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;  
}
body {
    background-color: #0E2955;
}
header {
    background-color: #315AB5;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    margin-top: 110px;
    text-align: center;
    color: white;
}
footer h4 {
    margin-top: 40px;
    margin-bottom: 40px;
}
input {
    background-color: #F3F3F3;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    font-size: 16px;
    padding: 12px;
    margin-top: 24px;
    padding-left: 58px;
}
.navbar {
    display: flex;
    align-items: center;
}
.navbar a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding-left: 720px;
}
.container {
    background-color: #315AB5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 24%;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 160px;
    margin-bottom: 160px;
    margin-left: 572px;
    text-align: center;
}
.info-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.btn {
    color: white;
    background-color: #140F07;
    border: 1px solid #140F07;
    border-radius: 10px;
    padding: 12px;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
}
img[alt="mail"] {
    position: absolute;
    margin-top: 33px;
    margin-left: 8px;
}